@use "../../styles/abstract/variables";

.pillContainer {
  user-select: none;
  padding: 0.25rem 0.5rem;
  background: variables.$secondary-blue-2;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: variables.$primary-dark-blue;
    font-size: 0.625rem;
    text-transform: capitalize;
    margin: 0;
  }

  .pillWrapper {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;

    .infoIcon {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 648px) {
    padding: 0.1rem 0.5rem;

    p {
      margin: 0;
    }
  }
}
