.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Take the full height available within its parent */
  width: 100%; /* Take the full width available within its parent */
}
